<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Holiday Predictor</title>
  </head>
  <body>
    <h1>Holiday Predictor</h1>
    <div id="question"></div>
    <div id="desc"></div>
    <div id="featuresNum"></div>
    <img class="image" src="" width="200" alt="" />
    <button onclick="answerYes()">Yes</button>
    <button onclick="answerNo()">No</button>

    <script>
      let features = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
      let predictfeatures = [];
      let featureNames = [
        "City",
        "Countryside",
        "Seaside",
        "Riverside",
        "Mountains",
        "Hotel",
        "Hostel",
        "Camping",
        "Train",
        "Train + Bike",
        "Bus",
        "Explore Nature",
        "Food",
        "Culture",
        "Party",
        "Relaxing",
        "Active Holiday",
      ];

      function updateQuestion() {
        const questionDiv = document.getElementById("featuresNum");
        const currentQuestionIndex = features.findIndex((value) => value === 0);
        <!-- console.log(currentQuestionIndex); -->

        if (currentQuestionIndex == -1) {
          questionDiv.innerHTML = "Prediction: " + predictfeatures;
        } else {
          questionDiv.innerHTML =
            "Is " +
            featureNames[currentQuestionIndex] +
            " a preferred feature?";
        }
      }

      function answerYes() {
        const currentQuestionIndex = features.findIndex((value) => value === 0);
        if (currentQuestionIndex !== -1) {
          features[currentQuestionIndex] = 1;
          predictfeatures.push(1);
          console.log(predictfeatures);
          updateQuestion();
        } else {
          makePrediction();
        }
      }

      function answerNo() {
        const currentQuestionIndex = features.findIndex((value) => value === 0);
        if (currentQuestionIndex !== -1) {
          features[currentQuestionIndex] = -1;
          predictfeatures.push(0);
          console.log(predictfeatures);

          updateQuestion();
        } else {
          makePrediction();
        }
      }

      function makePrediction() {
        const questionDiv = document.getElementById("question");
        const desc = document.getElementById("desc");
        const img = document.querySelector(".image");

        fetch("/predict", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ features: predictfeatures }),
        })
          .then((response) => response.json())
          .then((data) => {
            questionDiv.innerHTML = `Predicted Holiday Place: ${data.prediction}`;
            desc.innerHTML = `Description: ${data.description}`;
            img.src = data.picture;
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
      updateQuestion();
    </script>
  </body>
</html>
